@model IEnumerable<Blog.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @foreach (var item in Model)
        {
    <div>
        <h1>
            <a class="nav-link text-dark" href="/Posts/Details/@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Title)</a>
        </h1>
        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="600" height="500" />

        <div>@Html.DisplayFor(modelItem => item.Description)</div>
        <div>@Html.DisplayFor(modelItem => item.CreatedBy.Email)</div>
        <a class="nav-link text-dark"  href="/Posts/Details/@Html.DisplayFor(modelItem => item.Id)">Więcej info</a>
    </div>
        }
    </div>
