@model Blog.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Komentarz</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Zawartość
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            Id komentarza
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostId)
        </dd>
        <dt class="col-sm-2">
            Komentarze
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.post.CommentKey)
        </dd>
    </dl>
</div>
    
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
